{% if page.comments %}
    <!-- duoshuo.com javascript include code. -->    
    {% if site.duoshuo_url %}
      <div class="post-area post comment">
        <div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="{{ site.duoshuo_url }}{{ page.url }}"></div>
      </div>
	  <script type="text/javascript">
		var duoshuoQuery = {short_name:"{{ site.duoshuo_shortname }}"};
		(function() {
		  var ds = document.createElement('script');
		  ds.type = 'text/javascript';ds.async = true;
		  ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		  ds.charset = 'UTF-8';
		  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
		})();
	  </script>
	{% endif %}
    <!-- disqus.com javascript include code. -->
	{{ if (.Params.gitment) }}
        <div id="git-comments"></div>
        <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
        <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
        <script>
            var gitment = new Gitment({
                id: '{{ .Slug }}',  // 可选, 默认为 location.href
                owner: 'steamsv',
                repo: 'steamsv.wiki',
                oauth: {
                    client_id: '888a74580400ce8cab9b',
                     client_secret: 'b4c8f75280dce0cac86f64c790f9538374325dec',
                }
            })
        gitment.render('git-comments')
    </script>
    {{ end }}
{% endif %}    