<!-- Gitalk 评论 start  -->

<!-- Link Gitalk 的支持文件  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script> 
<div id="gitalk-container"></div>     <script type="text/javascript">
    var gitalk = new Gitalk({

    // gitalk的主要参数
		clientID: `888a74580400ce8cab9b`,
		clientSecret: `b4c8f75280dce0cac86f64c790f9538374325dec`,
		repo: `steamsv.github.io`,
		owner: 'steamsv',
		admin: ['steamsv'],
    });
    gitalk.render('gitalk-container');
</script> 
<!-- Gitalk end -->